@model Agriculture_projectv1.Models.Consulte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consulte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoilType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoilType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoverorenatId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoverorenatId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaOfSoil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfSoil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
