@model Agriculture_projectv1.Models.CrossType

@{
    ViewBag.Title = "Details";
}
<br />
<br />
@{
    var imgsrc = string.Empty;
    if (Model.Image != null && Model.Image.Count() > 10)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    }
    else
    {

        imgsrc = "/Content/img/download.jpg";
    }

}
<div class="container  body-content  mrgt5">

        <div class="card" style="background-color:#4CAF50" >

                <img class="card-img-top img-circle" width="180" height="200" src="@imgsrc" alt="Card image cap">
                <h2 class="card-title">@Model.Name</h2>
                <label>Duration</label>
                <p id="durationp" class="card-text">@Model.Duration</p>

             
             
                <div class="card-body " style="background-color:whitesmoke;color:black">

                    <hr />

                        <label>Seasons</label>

                        <p class="card-text">@Model.seasons</p>
                        <hr />
                        <label>Pesticidesdates</label>

                        <p class="card-text">@Model.Pesticidesdates</p>
                        <hr />

                        <label>Notes</label>

                        <p class="card-text">@Model.Notes</p>
                    <hr />
                    <a class="btn " onclick="showDur()" href="#dur">Get harvest Date</a>
                    <div id="dur"class="animated fadeInDown"  hidden>
                        <hr />
                        <input id="inptdate" onchange="GetRusult()" type="date" placeholder="Enter Start Data"/>
                        <div style="color:forestgreen" id="result"></div>
                        <hr />
                       

                    </div>
                    <div id="Com" class="animated fadeInDown" hidden>

                        <h2>Proposed  companies</h2>


                        @foreach (var item in Model.Componies)
                        {
                            <div class="col-lg5 nrgb5">
                                <h4 style="color:red">@item.Name</h4>
                                <p>  @Html.ActionLink("Details", "Details", "Componies", new { id = item.id }, new { @style = "font-weight:bold" })  </p>




                            </div>
                        }
                        <hr />
                       </div>



                    </div>
            </div>


    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
    <style>
        .card {
            box-shadow: 5px 5px 8px 5px rgba(80,255,80,0.2);
            transition: 0.3s;
            width: 100%;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        .btn {
            background-color: #4CAF50;
        }
    </style>

@section Scripts {
    <script>
        function showDur() {
            document.getElementById("dur").removeAttribute("hidden");
        };
        

        function GetRusult() {
            var date_ = new Date(document.getElementById("inptdate").value);

            var dur = document.getElementById("durationp").innerText;

         date_.setMonth(Number(dur));
         

         document.getElementById("result").innerHTML = "<h4> harvest Date Almost in   </h4> <h4> "+date_.toLocaleDateString()+"   </h4>   "
         document.getElementById("Com").removeAttribute("hidden");

        }

    </script>
    
    }